@font-face {
  font-family: "myriad_probold";
  src: url("../fonts/myriad_pro_bold-webfont.woff2") format("woff2"), url("../fonts/myriad_pro_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad_prolight";
  src: url("../fonts/myriad_pro_light-webfont.woff2") format("woff2"), url("../fonts/myriad_pro_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad_proregular";
  src: url("../fonts/myriad_pro_regular-webfont.woff2") format("woff2"), url("../fonts/myriad_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad_probold";
  src: url("myriad_pro_bold-webfont.woff2") format("woff2"), url("myriad_pro_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad_prolight";
  src: url("../fonts/myriad_pro_light-webfont.woff2") format("woff2"), url("../fonts/myriad_pro_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad_proregular";
  src: url("../fonts/myriad_pro_regular-webfont.woff2") format("woff2"), url("../fonts/myriad_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
nav {
  text-transform: uppercase;
  font-family: "myriad_probold";
}
nav li {
  padding: 10px 30px;
}
nav li a {
  color: white !important;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
nav li a:hover {
  border-bottom: 3px solid #b20016;
}

.navbar-collapse {
  flex-grow: inherit;
}

.navbar-brand img {
  width: 45%;
}

.fixed-top {
  background-color: rgba(0, 0, 0, 0.8509803922);
  backdrop-filter: blur(5px);
}

#main-banner {
  color: white;
}
#main-banner .main-banner-foto {
  background-size: cover;
  background-image: url(..//imgs/vini-profile.png);
  height: 100vh;
  background-repeat: no-repeat;
}
#main-banner h1 {
  font-size: 7.5rem;
  line-height: 0;
  font-family: "myriad_probold";
}
#main-banner h1 :first-child {
  font-size: 2.6rem;
  line-height: 3.5;
}
#main-banner h1 :last-child {
  font-size: 2.6rem;
}
#main-banner h1 code {
  color: #b20016;
}
#main-banner .main-banner-info {
  align-self: center;
  display: flex;
  justify-content: center;
}
#main-banner .main-banner-info button {
  border: none;
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px 10px 10px 0;
}
#main-banner .main-banner-info button a {
  text-decoration: none;
  color: black;
}

#about-me {
  background-color: #f8f8f8;
}
#about-me .about-me-colum {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0;
}
#about-me h2 {
  text-transform: uppercase;
  font-family: "myriad_probold";
}
#about-me h2::after {
  content: "";
  width: 120px;
  height: 4px;
  background-color: #b20016;
  display: block;
  margin: 10px auto;
}
#about-me p {
  font-family: "myriad_proregular";
  max-width: 50%;
  text-align: center;
  padding-top: 10px;
}
#about-me ul {
  padding: 0 50px;
  text-align: center;
}
#about-me ul li {
  list-style: none;
  display: inline-block;
  padding-top: 20px;
}
#about-me ul li img {
  transition: all 0.3s ease;
}
#about-me ul li img:hover {
  margin-top: -25px;
  transition: all 0.3s ease;
}

#design-projects {
  background-color: white;
}
#design-projects .design-projects-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#design-projects h2 {
  text-transform: uppercase;
  font-family: "myriad_probold";
}
#design-projects h2::after {
  content: "";
  width: 120px;
  height: 4px;
  background-color: #b20016;
  display: block;
  margin: 10px auto;
}
#design-projects p {
  font-family: "myriad_proregular";
  max-width: 50%;
  text-align: center;
  padding-top: 10px;
}

#code-projects {
  background-color: #f8f8f8;
}
#code-projects .code-projects-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#code-projects h2 {
  text-transform: uppercase;
  font-family: "myriad_probold";
}
#code-projects h2::after {
  content: "";
  width: 120px;
  height: 4px;
  background-color: #b20016;
  display: block;
  margin: 10px auto;
}
#code-projects p {
  font-family: "myriad_proregular";
  max-width: 50%;
  text-align: center;
  padding-top: 10px;
}

footer {
  color: white;
}
footer .row {
  align-items: center;
  height: 100px;
}
footer h2 {
  font-family: "myriad_probold";
  text-transform: uppercase;
}
footer h2::after {
  content: "";
  width: 120px;
  height: 4px;
  background-color: #b20016;
  display: block;
  margin: 5px 0;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  display: inline-block;
}
footer ul li a {
  color: inherit;
}
footer ul li a:hover {
  color: #b20016;
}
footer ul li i {
  font-size: 36px;
  margin: 0px 4px;
}

body {
  background-color: black;
}

:hover, a {
  transition: all 0.3s ease;
}/*# sourceMappingURL=main.css.map */