#code-projects{
    background-color: #f8f8f8;
    padding: 100px 0 80px 0;
    .code-projects-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .thumbs-projects{
        display: flex;
        padding-top: 20px;
        flex-wrap: wrap;
        text-align: center;
    }
    .thumbs-projects-box-logos{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-miorrelax{
        background-color: #430098;
        width: 95%;
        margin-bottom: 15px;
    }
    .logo-doril{
        width: 95%;
        margin-bottom: 15px;
        background-color: #ed1f31;
    }
    .logo-biotonico{
        background-color: #f4d332;
        width: 95%;
        margin-bottom: 15px;
    }
    .logo-maracugina{
        background-color: #0f245a;
        width: 95%;
        margin-bottom: 15px;
    }
    h2{
        @include title-separator;
    }
    p{
        @include comum-p;
    }
}