@font-face {
    font-family: 'myriad_probold';
    src: url('../fonts/myriad_pro_bold-webfont.woff2') format('woff2'),
         url('../fonts/myriad_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_prolight';
    src: url('../fonts/myriad_pro_light-webfont.woff2') format('woff2'),
         url('../fonts/myriad_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriad_pro_regular-webfont.woff2') format('woff2'),
         url('../fonts/myriad_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_probold';
    src: url('myriad_pro_bold-webfont.woff2') format('woff2'),
         url('myriad_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_prolight';
    src: url('../fonts/myriad_pro_light-webfont.woff2') format('woff2'),
         url('../fonts/myriad_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriad_pro_regular-webfont.woff2') format('woff2'),
         url('../fonts/myriad_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}