footer{
    .footer-infos{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 0; 
        flex-direction: column;
        @media (min-width: 768px){
            flex-direction: row;
        }
        a{
            color: white;
            &:hover{
                color: white;
            }
        }
    }
    color: white;
    h2{
        font-family: 'myriad_probold';
        text-transform: uppercase;
        &::after{
            content: '';
            width: 120px;
            height: 4px;
            background-color: $main-color;
            display: block;
            margin:  5px 0;
        }
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            a{
                color: inherit;
                &:hover{
                    color: $main-color;
                }
            }
            i{
                font-size: 36px;
                margin: 0px 4px;
            }
        }
    }
}

#arrow{
    background-color: #f8f8f8;
    // padding: 100px 0 80px 0;
    i{
        color: black;
        font-size: 2rem;
        transition: all 0.3s ease;
        &:hover{
            color: $main-color;
        }
    }
    a{
        display: flex;
        justify-content: center;      
        padding-bottom: 10px;
  
        @media (min-width: 768px) { 
            justify-content: end;
            padding-right: 100px;
        }
    }
}