footer{
    .row{
        align-items: center;
        height: 100px;
    }
    color: white;
    h2{
        font-family: 'myriad_probold';
        text-transform: uppercase;
        &::after{
            content: '';
            width: 120px;
            height: 4px;
            background-color: $main-color;
            display: block;
            margin:  5px 0;
        }
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            a{
                color: inherit;
                &:hover{
                    color: $main-color;
                }
            }
            i{
                font-size: 36px;
                margin: 0px 4px;
            }
        }
    }
}