#main-banner{
    color: white;
    .main-banner-foto{
        padding: 0;
    }
    .main-banner-info{
        align-self: center;
        display: flex;
        justify-content: center;
        button{
            border: none;
            background-color: white;
            padding: 10px 30px;
            border-radius: 10px 10px 10px 0;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}