@mixin title-separator{
    text-transform: uppercase;
    font-family: 'myriad_probold';
    &::after{
        content: '';
        width: 120px;
        height: 4px;
        background-color: $main-color;
        display: block;
        margin:  10px auto;
    }
}

@mixin comum-p {
    font-family: 'myriad_proregular';
    max-width: 80%;
    text-align: center;
    padding-top: 10px;
    @media (min-width: 576px) { 
        width: 50%;
     }
}