nav{
    text-transform: uppercase;
    font-family: 'myriad_probold';
    a{
        color: white!important;
        cursor: pointer;
    }
}

.navbar-collapse{
    flex-grow: inherit;
}
.navbar-brand{
    img{
        width: 45%;
    }
}