nav{
    text-transform: uppercase;
    font-family: 'myriad_probold';
    li{
        padding: 10px 30px;
        a{
            color: white!important;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            &:hover{
                border-bottom: 3px solid $main-color;
            }
        }
    }
}

.navbar-collapse{
    flex-grow: inherit;
}
.navbar-brand{
    img{
        width: 110px;
        @media (min-width: 576px) { 
            width: 45%;
         }
    }
}

.fixed-top{
    background-color: #000000d9;
    backdrop-filter: blur(5px);
}