$main-color: #b20016;

@import "mixins";
@import "animations";
@import "fonts";
@import "nav";
@import "main-banner";
@import "about-me";
@import "design-projects";
@import "code-projects";
@import "footer";

body{
    background-color: black;
    overflow-x: hidden;
}

:hover, a{
    transition: all 0.3s ease;
    text-decoration: none;
}


